
<button [routerLink]="['/login']">Cerrar Sesion</button>
<h2 class="titulo">Cocheras Management</h2>
<table class="styled-table">
  <thead>
    <tr>
      <th>Número de cochera</th>
      <th>Disponibilidad</th>
      <th>Fecha de ingreso</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

    @for (cochera of dataCocherasService.cocheras; track $index) {
        <tr >
            <td> {{cochera.id}} </td>
            <td [ngClass]="{'habilitar': cochera.deshabilitada === 1}"> {{cochera.deshabilitada}} </td>
            <td> monday </td>
            <td>
                <button (click)="confirmdeshabilitar($index)">
                    {{ cochera.deshabilitada === 1 ? 0 : 1 }}
                </button>
                <button (click)="confirmdelete()">
                  Eliminar
                </button>
               
            </td>
          </tr>
    }
    
  </tbody>
</table>
<button (click)="agregarCochera()">Agregar Nueva Cochera</button>
<button (click)="getCocheras()">Get Cocheras</button>


   

  


