

<table class="styled-table">
  <thead>
    <tr>
      <th>Número de cochera</th>
      <th>Disponibilidad</th>
      <th>Fecha de ingreso</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

    @for (cochera of dataCocherasService.cocheras; track $index) {
        <tr >
            <td> {{cochera.id}} </td>
            <td>
              @if (cochera.deshabilitada) {
                  <button class="deshabilitada status-button status-disabled">
                      Deshabilitada
                  </button>
              } @else if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                  <button (click)="cerrarEstacionamiento(cochera)">
                      {{ cochera.estacionamiento?.patente }}
                  </button>
              } @else {
                  <button type="submit" class="disponible, submit-btn" (click)="abrirEstacionamiento(cochera.id)">
                      Disponible
                  </button>
              }
            </td>
            <td>{{ cochera.descripcion }}</td>
            
            
            <td>
                <button (click)="confirmdeshabilitar($index)">
                    {{ cochera.deshabilitada === 1 ? 0 : 1 }}
                </button>
                <button (click)="borrarFila(cochera.id)" type="submit" class="disponible, submit-btn">
                  Eliminar
                </button>
               
            </td>
          </tr>
    }
    
  </tbody>
</table>
@if(esAdmin){
<button (click)="agregarCochera()" class="submit-btn" type="submit">Agregar Nueva Cochera</button>
}



   

  


