<div class="login-container">
    <div class="header">
      <h1>Cocheras <span class="management">Management</span></h1>
    </div>
    <div class="login-box">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" ngModel required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" ngModel required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" ngModel required>
        </div>
        <p class="password-requirements">
          * Caracteres obligatorios: A-Z, a-z, 0-9, !&#64;#$%
        </p>
        <button [disabled]="registerForm.invalid" class="submit-btn" type="submit">Registrarse</button>
        @if(errorRegister){
          <p> Error en registro </p>
        }
      </form>
    </div>
  </div>
